.postMaster{
    text-align: center;
    background-color: #7DD181;
    border: 2px solid #dddddd;
    border-radius: 15px;
    margin: 0px auto 30px auto;
    width: 40%;
}
.postMaster input[type=text] {
    width: 22%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* probably just spend 30 min trying to get text to wrap in my
post templatee */

.postMaster input[type=text]:focus {
  word-wrap: break-word;
    width: 60%;
    height: 50px;
}
