<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:>
<body>
<!-- header fragment -->
<div th:fragment="header">
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link th:href="@{/navbar.css}" rel="stylesheet"/>

</div>

<!-- nav bar fragment -->
<nav th:fragment="navbar" class="navbar">
    <a href="/">
        <img src="C:\Users\jahns\Projects\java\fellowship\src\main\resources\static\assets\shield.png"
             alt="Code Fellows Icon" href=""/>
    </a>
    <a href=""> Feed </a>
    <a href="login"> Login </a>
    <a href="signup"> Sign Up </a>
    <a href="perform_logout"> Log Out</a>
</nav>

</body>
</html>