<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> User </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="~{common :: header}"></div>

</head>
<body>
<nav th:replace="~{common :: navbar}"></nav>

<div>
    <h2 th:text="${user.username}"></h2>
    <p th:text="${user.statementOfPurpose}"></p>

    <h3>-<span th:text="${user.firstName}"> </span></h3>
</div>

<section th:replace="~{common :: postMaster}"></section>

<div id="dashboard">
    <table th:replace="~{common :: feed}"/>
    <!--<nav th:replace="~{common :: followers}"></nav>-->

</div>

</body>
</html>